.header {
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}

.item-a {
    grid-area: day;
    display: flex;
    justify-content: space-between;
}

.item-b {
    grid-area: time;
}

.item-c {
    grid-area: add-button;
}

.item-d {
    grid-area: meeting-table;
}

.label {
    width: 25%;
}

.line-item {
    display: flex;
    justify-content: space-between;
}

.popup {
    display: grid;
    justify-content: space-between;
    width: 400px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        'day add-button'
        'time add-button'
        'meeting-table meeting-table';
}
